<%
  link_label ||= "Hide this page"
  aria_label ||= "Hide this page. Quick exit button, it opens BBC Weather in a new tab"
  data_attributes ||= {}
  data_attributes[:id] = "app-quick-escape-banner-link"
%>
<div class="app-c-quick-escape-banner" data-module="app-quick-escape-banner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter app-c-quick-escape-banner__link">
        <%= render "govuk_publishing_components/components/button", {
          text: link_label,
          href: link_url,
          target: "_blank",
          rel: "nofollow noreferrer noopener",
          data_attributes: data_attributes,
          aria: {
            label: aria_label
          },
          destructive: true,
        } %>
      </div>
    </div>
  </div>
</div>
