## Feeling unsafe

### If you do not feel safe where you live or you’re worried about someone else

If you’re in immediate danger call 999 and ask for the Police.

If you’re in danger and unable to talk on the phone, call 999, then press 55 when prompted.

Call the National Domestic Abuse Helpline on <a href="tel:0808%202000%20247">0808 2000 247</a>, you can get advice in different languages. You can also <a >get help online</a>.

If you’re a child or young person call Childline on <a href="tel:0800%201111">0800 1111</a> or <a href="https://www.childline.org.uk" >get help online</a> .

<a href="https://www.nspcc.org.uk/keeping-children-safe/our-services/nspcc-helpline/">Contact NSPCC if you’re concerned about a child</a>

Call Hourglass, if you're an older person or worried about an older person on <a href="tel:0808%20808%208141%E2%80%9D%20class=">0808 808 8141</a>, or <a href="https://wearehourglass.org/" class="”govuk-link">find out what support they offer</a>.

Call Galop, the LGBT+ helpline on  <a href="tel:0800%20999%205428%E2%80%9D%20class=">0800 999 5428</a>, or <a href="http://www.galop.org.uk/how-we-can-help/" class="”govuk-link">find out what support they offer</a>.

Call Men’s Advice Line on <a href="tel:0808%208010327" >0808 8010327</a> or <a href="https://mensadviceline.org.uk/" >get help online</a>.

Call Southall Black Sisters for help for black and minority women, including if you’ve got No Recourse to Public Funds on <a href="tel:0208%20571%209595" >0208 571 9595</a>. You can get advice in different languages. You can also <a href="https://southallblacksisters.org.uk" >find out what support they offer</a>.

Call <a href="https://karmanirvana.org.uk/help/" >Karma Nirvana</a> for help with honour-based abuse and forced marriage on <a href="tel:0800%205999%20247" >0800 5999 247</a>.

<a href="https://signhealth.org.uk/with-deaf-people/domestic-abuse/domestic-abuse-service">Get specialist support for Deaf people from Signhealth.</a>

<a href="https://rapecrisis.org.uk/get-help">Get help from Rape Crisis.</a>

#### Support and advice

<a href="https://www.womensaid.org.uk/covid-19-coronavirus-safety-and-support-resources/" >Get safety advice for survivors from Women’s Aid</a>. You can get advice in different languages including British Sign Language.

<a href="https://www.imkaan.org.uk/get-help">Find specialist helplines for black and minority women (Imkaan).</a>

Find additional helplines <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" >if you’re a victim of domestic abuse or feel at risk of abuse</a>, or if you are a <a href="https://www.gov.uk/guidance/coronavirus-covid-19-victim-and-witness-services" >victim or witness of a crime</a>.
