## Getting food

### If you’re finding it hard to afford food

<a href="https://www.gov.uk/universal-credit/eligibility">Find out if you’re eligible for Universal Credit</a>

<a href="https://www.citizensadvice.org.uk/benefits/help-if-on-a-low-income/using-a-food-bank/">Find out if you can get help from a foodbank (Citizens Advice)</a>

<a href="https://www.gov.uk/coronavirus-local-help">If you need food urgently and have no other support, find out if you can get help from your council</a>

<a href="https://www.gov.uk/apply-free-school-meals">If you have a child, find out if they can get free school meals</a>

<a href="https://www.healthystart.nhs.uk/healthy-start-vouchers/do-i-qualify/">Find out if you can apply for Healthy Start vouchers if you’re 10 or more weeks pregnant or have a child under 4</a>
