## Going in to work

### If you’re worried about going in to work

<a href="https://www.gov.uk/coronavirus-employee-risk-assessment">Check if you should go back in to work</a>

<a href="https://www.gov.uk/get-childcare">Find out if you can get help paying for childcare</a>

#### Support and advice

<a href="https://www.citizensadvice.org.uk/work/coronavirus-if-youre-worried-about-working/">What to do if you’ve been told to go back in to work and you’re worried (Citizens Advice)</a>

<a href="https://www.gov.uk/government/publications/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19/guidance-on-shielding-and-protecting-extremely-vulnerable-persons-from-covid-19#work-and-employment-for-those-who-are-shielding">What to do if you’re shielding because you’ve been told by a doctor you’re clinically extremely vulnerable, but you’ve been told to go back to work</a>

<a href="https://www.acas.org.uk/coronavirus/using-holiday/time-off-work-to-look-after-someone">What you can do if you’ve been told to go back to work but you need to look after someone or do child care (Acas)</a>
