## Mental health and wellbeing

### If you’re worried about your mental health or someone else’s mental health

<a href="https://www.nhs.uk/using-the-nhs/nhs-services/mental-health-services/dealing-with-a-mental-health-crisis-or-emergency/">Where to get urgent help for mental health (NHS)</a>

<a href="https://www.mind.org.uk/information-support/coronavirus/coronavirus-and-your-wellbeing">How to manage specific mental health needs (Mind)</a>

<a href="https://www.nhs.uk/oneyou/every-mind-matters">Get advice on looking after your mental health during coronavirus (NHS)</a>

<a href="https://www.gov.uk/government/publications/covid-19-guidance-on-supporting-children-and-young-peoples-mental-health-and-wellbeing/guidance-for-parents-and-carers-on-supporting-children-and-young-peoples-mental-health-and-wellbeing-during-the-coronavirus-covid-19-outbreak">Things you can do to support the mental health and wellbeing of children and young people (Public Health England)</a>

<a href="https://youngminds.org.uk/find-help/looking-after-yourself/coronavirus-and-mental-health/">Advice and guidance on where you can get help with your mental health if you’re a young person (Young Minds)</a>

#### Support and advice

<a href="https://www.gov.uk/government/publications/covid-19-guidance-for-the-public-on-mental-health-and-wellbeing">Looking after your mental health during coronavirus (Public Health England)</a>

<a href="https://youngminds.org.uk/find-help/for-parents/supporting-your-child-during-the-coronavirus-pandemic/">Advice on supporting children’s mental health during coronavirus (Young Minds)</a>
