## Paying bills

### If you’re finding it hard to pay your rent, mortgage or bills

<a href="https://england.shelter.org.uk/housing_advice/coronavirus">What to do if you cannot pay your rent or mortgage (Shelter)</a>

<a href="https://www.citizensadvice.org.uk/debt-and-money/if-you-cant-pay-your-bills-because-of-coronavirus/">What to do if you cannot pay your bills or mortgage, including if you cannot go out to pay them (Citizens Advice)</a>

<a href="https://www.gov.uk/get-childcare">Find out if you can get help paying for childcare</a>

<a href="https://www.gov.uk/coronavirus-local-help">Find out if you can get help in your local area</a>

#### Support and advice

<a href="https://www.gov.uk/government/publications/covid-19-and-renting-guidance-for-landlords-tenants-and-local-authorities">Your rights if you’re finding it hard to pay rent</a>
