## Having somewhere to live

### If you do not have somewhere to live or might become homeless

<a href="https://england.shelter.org.uk/housing_advice/homelessness">Get help if you’re homeless, including advice for EU nationals, refugees and asylum seekers, and disabled people (Shelter)</a>

<a href="https://www.gov.uk/coronavirus-local-help">Find out if you can get help in your local area</a>

<a href="https://stonewallhousing.org/services/advice/">Get specialist advice for LGBT+ people (Stonewall Housing)</a>

<a href="https://centrepoint.org.uk/youth-homelessness/get-help-now/">Get help if you’re aged 16 to 25 (Centrepoint)</a>

### If you’ve been evicted or might be soon

<a href="https://england.shelter.org.uk/housing_advice/coronavirus">Get coronavirus housing advice (Shelter)</a>

<a href="https://england.shelter.org.uk/housing_advice/eviction/gypsies_and_travellers_facing_eviction_from_a_site">Get advice and find out about your rights if you’re a Gypsy or Traveller and you’re being evicted (Shelter)</a>

<a href="https://www.gov.uk/coronavirus-local-help">Find out if you can get help in your local area</a>

#### Support and advice

<a href="https://www.gov.uk/government/publications/covid-19-and-renting-guidance-for-landlords-tenants-and-local-authorities">Find information about your rights as a tenant</a>
