.app-c-quick-escape-banner {
  width: 100%;
  position: -webkit-sticky; /* Safari */ // scss-lint:disable DuplicateProperty
  position: sticky;
  top: 0;
  border-bottom: 1px solid govuk-colour("mid-grey");
  background-color: govuk-colour("white");
  z-index: 10000;
  padding: govuk-spacing(3) 0 govuk-spacing(3);
}

.app-c-quick-escape-banner__link {
  .gem-c-button {
    @include govuk-font($size: 16, $weight: bold);
  }
}
